[{daq,[{apps,[]},
  {device_list,[
    { 4, version, noargs },
    { 160, cexternal,
      { "acnet_mu2eerd", cdev, [], [
        {'UInt16', 2, stateRead, "mu2eerd state device" }
      ] } },
    { 161, cexternal,
      { "acnet_ssm", cdev, [], [
        {'UInt16', 2, state, "SSM state device / reading attribute" },
        {'UInt32', 4, spillCounter, "SSM spill counter device / reading attribute" },
        {'UInt32', 4, statusCtrl, "SSM state device / status and control attribute" }
      ] } }
  ] }
] } ].