[{daq,[{apps,[]},
  {device_list,[
    { 4, version, noargs },
    { 160, cexternal,
      { "acnet_mu2eerd", cdev, [], [
        {'UInt32', 12, daemonRead, "mu2eerd daemon device / reading attribute" },
        {'UInt32', 4, daemonStatus, "mu2eerd daemon device / status and control attribute" },
        {'UInt32', 4, startupSet, "mu2eerd startup device / setting attribute" },
        {'Char', 255, configRead, "mu2eerd config device / reading attribute" }
      ] } },
    { 161, cexternal,
      { "acnet_ssm", cdev, [], [
        {'UInt16', 2, state, "SSM state device / reading attribute" },
        {'UInt32', 4, spillCounter, "SSM spill counter device / reading attribute" },
        {'UInt32', 4, statusCtrl, "SSM state device / status and control attribute" },
        {'UInt32', 4, tis, "SSM time-in-spill device / reading attribute" },
	{'Int16', 16000, idealWaveform, "Ideal spill device / reading property type", 1440, 1440 },
        {'Int16', 16000, actualWaveform, "Actual spill device / reading property type" },
	{'Int16', 16000, errorSignalWaveform, "Error signal device / reading property type" } 
      ] } }
  ] }
] } ].